<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <p> <%= aboutContent2 %> </p>
    <p> <%= aboutContent3 %> </p>
    <p> <%= aboutContent4 %> </p>

    <div class="kitty">
    <img src="images/giphy.gif" alt="kitty">
    </div>
    
<%- include("partials/footer"); -%>
