<%- include("partials/header"); -%>

  <div class="container-fluid">
    <div class="row">
      <% posts.forEach(function(post){ %>
        <div class="col-sm-6">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">
                <%=post.title%>
              </h5>
              <p class="card-text">
                <%=post.content.substring(0, 170) + " ..." %>
              </p>
              <a href="/posts/<%=post._id%>" class="btn">Read more</a>
              </p>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
  
  <%- include("partials/footer"); -%>