<%- include("partials/header"); -%>
  <div class="dear">
    <h1>Dear visitor!</h1>
    <p>
      <%= startingContent %>
    </p>
  </div>
  <hr>

  <% posts.forEach(function(post){ %>
    
    <h1>
      <%=post.title%>
    </h1>
    <p>
      <%=post.content.substring(0, 144) + " ..." %>
        <a href="/posts/<%=post._id%>">Read more</a>
    </p>

    <% }) %>
      
      <br>
      <br>

      <%- include("partials/footer"); -%>